div {
  font-size:1.3rem;
  font-weight: bold;
  color:green;
}

textarea {
  width:500px;
  height:100px;
  resize: none;
}

div > .replyTop{
  font-size: 10px;
  font-weight: normal;
  color:black;
}

.replyWriter{
  font-weight: bold;
}